@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
html {
    margin: 0;
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font: 16px/1.25 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 2em;
    font-weight: 900;
    line-height: 1;
}

div {
    display: flexbox;
    height: 50px;
    transition: height 1s;
}

div:hover {
    height: 120px;
}

canvas {
    background: white;
    margin-top: 1rem;
    cursor: url(pen.png), auto;
}